@charset "UTF-8";
/* CSS Document */
body h1, h2, h3, h4, h5, h6, ul, li {margin:0;}
body {
	font-size: 16px;
	font-family: Helvetica;
}
header, main, footer {
	max-width: 960px;
	margin: 0 auto;
}
header {
	background-image: url("../images/header.jpg");
	height: 200px;
	
}
header h1 {
	color: #fff;
	padding: 1rem 0 0 2%;
	text-shadow: 2px 2px 5px #000;
	font-size: 3rem;
}
header h2 {
	color: #fff;
	padding: .5rem 0 0 2%;
	text-shadow: 2px 2px 5px #000;
	font-size: 2rem;
}
main h1 {
	color:#af6f3f;
	padding: 1rem 0 0 2%;
}
main h2 {
	color: #857a5e;
	padding: .6rem 0 0 2%;
}
main p {padding: .2rem 0 0 2%;}

main ul {margin: 0;}
main ul.objectives li {
	list-style-image: url("../images/check.png");
	margin-left: 3%;
}

div#stem{
	background-color:#727753; 
	padding: 1em;
	color:#fff; 
}


footer {
	background-color: #c3ba9b;

}
footer p {
	text-align: center;
	color:#380f01;
	padding: .5rem 0;
}

